.to-do-list {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 100px;
}

.img {
  width: 200px; /* Adjusted size for better visibility */
  height: 200px; /* Adjusted size for better visibility */
  border-radius: 50%; /* This makes the image round */
  object-fit: cover; /* This ensures the image fills the circle without distortion */
}

h1 {
  font-size: 3rem; /* Slightly reduced size for better aesthetics */
  margin-bottom: 20px;
}

button {
  font-size: 1.2rem; /* Reduced size for better aesthetics */
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-button {
  margin-top: 12px;
  padding: 20px 40px;
}

input[type="text"] {
  font-size: 1.2rem; /* Reduced size for better aesthetics */
  
  border-radius: 5px;
  padding: 10px;
  border: 2px solid lightgray;
  margin-bottom: 10px;
  width: 50%;
  height: 50px;
}

ol {
  padding: 0;
  list-style-type: none; /* Remove default list styling */
}

li {
  font-size: 1.5rem; /* Reduced size for better aesthetics */
  font-weight: bold;
  padding: 15px;
  margin-bottom: 10px;
  border: 2px solid hsla(0, 0%, 85%, 0.75); /* Reduced border thickness */
  border-radius: 5px;
  display: flex; /* Use flexbox for better layout */
  justify-content: space-between; /* Space out content */
  align-items: center; /* Center items vertically */
}

.delete-button {
  margin-left: 10px;
  background-color: #ff4d4d;
  color: white;
}

.move-button {
  margin-left: 10px;
  background-color: #4d79ff;
  color: white;
}

button:hover {
  opacity: 0.8; /* Add a hover effect to buttons */
}

.text {
  flex-grow: 1; /* Allow the text to take up remaining space */
  font-size: 2rem;
  text-transform: capitalize;
}
